<link rel="stylesheet" href="/css/rte_theme_default.css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
<link href="/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
<style>
    .kv-file-upload{
        display: none !important;
    }
</style>

<%- include('./layout/index.ejs') %>
<div class="d-flex pb-5">
    <%- include('./layout/sidebar.ejs') %>
    <div>
        <%- include('./layout/navigation.ejs') %>
        <main class="p-3 main-content pb-5">
            <h1>Add Tutorial</h1>
        
        <form action="" id="docs_form" class="pb-5">
            <div class="form-floating input-group  mt-3">
                <input type="text" class="form-control" id="floatingInput1" name="title" placeholder="Your Name">
                <label for="floatingInput1">Title</label>
            </div>

            <div class="form-floating input-group  mt-3">
                <label for="category-data">Tutorial Category</label>

                <select name="tutorialCategory" class="form-control form-select" id="category-data">
                    <option value="">Select Category</option>
                </select>
            </div>

            <div class="form-floating input-group  mt-3">
                <input type="text" class="form-control" id="floatingInput3" name="topicName" placeholder="name@example.com">
                <label for="floatingInput3">Topic Name</label>
            </div>
            <div class=" mt-3 input-group ">
                <select class="form-control py-4 js-example-tokenizer" name="keywords[]" multiple="multiple">
                    <option value=" ">Add Tags</option>

                  </select>
            </div> 
        
           
            <div class="form-floating input-group  mt-3">
                <textarea name="content" name="content" class="input-group" id="div_editor1" >
                    <p>Hello world!</p>
                    <p><img src='images/editor-image.png' /></p>
                </textarea>
            </div>
            <div class="mt-3">
                <button type="submit" class="button-2 py-2 px-3 submit">Save</button>
            </div>
        </form>
    </main>
    </div>
</div>
<%- include('./layout/footer.ejs') %>
<script type="text/javascript" src="/js/rte.js"></script>
<script>
    RTE_DefaultConfig.url_base = 'richtexteditor'
</script>
<script type="text/javascript" src="/plugins/all_plugins.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="/js/plugins/buffer.min.js" type="text/javascript"></script>
<script src="/js/plugins/filetype.min.js" type="text/javascript"></script>
<script src="/js/plugins/piexif.js" type="text/javascript"></script>
<script src="/js/plugins/sortable.js" type="text/javascript"></script>
<script src="/js/fileinput.js" type="text/javascript"></script>
    <script src="/js/locales/fr.js" type="text/javascript"></script>
    <script src="/js/locales/es.js" type="text/javascript"></script>
    <script src="/themes/fa5/theme.js" type="text/javascript"></script>
    <script src="/themes/explorer-fa5/theme.js" type="text/javascript"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/additional-methods.min.js"></script>
<script>
 
    var editor1 = new RichTextEditor("#div_editor1");
    $(".js-example-tokenizer").select2({
        name:'content',
    tags: true,
    tokenSeparators: [',', ' '],
    placeholder: "Add Tags",
    allowClear: true
})
$("#file-1").fileinput({
        theme: 'fa5',
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 10,
        showRemove:true,
        showUpload:false,
        showUploadStats:false,


        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    }).on('fileselect',function(event, numFiles, label) {

console.log(event.target.files);

});


$("#docs_form").validate({
    rules: {
      title: {
        maxlength: 150,
        required: !0

      },
      tutorialCategory: {
        maxlength: 150,
        required: !0

      },
      topicName: {
        required: !0

      }, "keywords[]": {
        required: !0,
        normalizer: function (value) {
          return $.trim(value);
        }
      },
     

      content: {
        required: !0,
        normalizer: function (value) {
          return $.trim(value);
        }

      }
    },
    messages: {
      mobile: {
        required: "Mobile number is required",
        minlength: "Please enter valid mobile number",
        maxlength: "Please enter valid mobile number"
      },
      name: {
        alpha: "Only hyphen, apostrophe,space and characters are allowed"
      },

    },

    errorClass: "help-block error",
    
    highlight: function (e) {
      $(e).closest(".form-floating").addClass("has-error");
    },
    unhighlight: function (e) {
      $(e).closest(".form-floating").removeClass("has-error");
    },
    errorPlacement: function (error, element) {
      error.insertAfter(element.closest('div.input-group'));
    },
    submitHandler: function (form,event) {
     event.preventDefault()
     const formData = new FormData(event.target);
   
      $.ajax({
        method: "POST",
        url: base_url+"/tutorials/post",
        data: {
            title:formData.get("title"),
            tutorialCategory: formData.get("tutorialCategory"),
          topicName:formData.get('topicName'),
          keywords:JSON.stringify($(".js-example-tokenizer").val()),
          content:formData.get('content'),

        },
        success: function (data) {
          $.toast({
            heading: 'Success',
            text: `Tutorial Added Successfully!`,
            showHideTransition: 'slide',
            icon: 'success',
            stack: 2
          })
          setTimeout(() => {
            $('#docs_form').trigger("reset");
            window.location.href="/admin/list-tutorials"
          }, 2000);

        },
        error: function (xhr, exception) {
          $.toast({
            heading: 'Warning',
            text: 'Something went wrong !!!',
            showHideTransition: 'slide',
            icon: 'error',
            stack: 2
          })
        }
      })
     

    }

  });




  //get tut categories


  let categoryElement=document.querySelector("#category-data")
$.ajax({
  method: "GET",
  url: base_url+"/tutorials/getAllTutsCat",
})
  .done(function( data ) {
    
    data.data.forEach(element => {
        console.log(element);
        categoryElement.innerHTML+= `<option value='${element.title}'>${element.title}</option>` 
    });
  });

</script>

