<%- include('./layout/index.ejs') %>
<div class="d-flex">
    <%- include('./layout/sidebar.ejs') %>
<div>
    <%- include('./layout/navigation.ejs') %>
    <main class="p-3 main-content">
        <h1>Dashboard</h1></main>
    </div>
</div>

<%- include('./layout/footer.ejs') %>
