<%- include('./layout/header.ejs') %>

<main class="login_page">
<section class="container-xxl">
<div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="w-25">
            <form action="">
                <img src="/images/logo.png" class="d-block mx-auto"  width="90" height="90" alt="logo">
                <p class="my-4 text-white text-center">Login As Admin</p>
                <div class="mb-3">
                    <label for="" class="form-label text-white">Email</label>
                    <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label text-white">Password</label>
                    <input type="password" class="form-control" name="" id="" placeholder="Enter Password">
                  </div>
                  <div class="d-grid gap-2 mt-5">
                    <button type="submit" name="" id="" class="btn btn-primary">Login</button>
                  </div>
            </form>
        </div>
    </div>
</div>
</section>
</main>

<%- include('./layout/footer.ejs') %>
