<%- include('./layout/header.ejs',
{title:'Contact us',description:'gdgfgfdgfd',img:'',kw:''})%>

 <section class="contact-wrapper-1 py-5 pt-0 mt-5">
        <div class="container-xxl">
          <div class="row">
            <div class="col-12">
              <h1 class="heading mb-4 text-center">
                <span style=" color: #000 ">Contact </span>
                <span style=" color: rgb(245, 141, 28) ">Us</span>
              </h1>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-12 col-lg-6">
              <div class="address card h-100 p-3">
                <div class="social-media-icons d-flex gap-4 justify-content-center mt-5 align-items-center">
                  <a
                    href="https://www.instagram.com/heartblack1676/"
                    target="_blank"
                  >
                    <img src="/images/instagram.png" width="40" height="40" alt="instagram" />
                  </a>
                  <a href="https://discord.gg/Qea48uw9" target="_blank">
                    <img src="/images/discord.png" width="40" height="40" alt="discord" />
                  </a>
                  <a
                    href="https://www.linkedin.com/in/navdeep-dahiya-719016186/"
                    target="_blank"
                  >
                  <img
                  src="/images/linkedin.svg"
                  width="40" height="40"
                  alt="instagram"
                />
                  </a>
                  <a href="https://t.me/developerscornernd" target="_blank">
                    <img
                      src="/images/telegram.png"
                      width="40" height="40"
                      alt="instagram"
                    />
                  </a>
                  <a
                    href="https://chat.whatsapp.com/IHfO4PcsjQTEnWg6KHRd7f"
                    target="_blank"
                  >
                    <img src="/images/whatsapp.png"  width="40" height="40" alt="instagram" />
                  </a>
                </div>
                <h1 class="heading mb-4 mt-5 text-center">
                  <span style=" color: #000" >Add</span>
                  <span style=" color: rgb(245, 141, 28)" >ress:</span>
                </h1>

                <p class="mt-3 heading text-center">
                  HNo: 277, VPO: Mandaura, Sonipat, Haryana
                </p>
                <h1 class="heading mb-4 mt-5 text-center">
                  <span style=" color:#000" >Mail </span>
                  <span style=" color: rgb(245, 141, 28) ">At:</span>
                </h1>
                <p class="heading mb-4  text-center">
                  <a
                    class="text-decoration-none"
                    href="mailto:ndyt1676@gmail.com"
                  >
                    <span style=" color: #000">ndyt1676</span>
                    <span style=" color: rgb(245, 141, 28) ">
                      @gmail.com
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="contact-wrapper card p-3">
                <form action="">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="Your Name">
                        <label for="floatingInput1">Name</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="name@example.com">
                        <label for="floatingInput2">Email address</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput3" placeholder="+91 ********** ">
                        <label for="floatingInput3">Mobile No</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput4" placeholder="subject">
                        <label for="floatingInput4">Subject</label>
                      </div>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                      </div>
                     <div class="mt-3">
                        <button class="button py-2 px-3">Save</button>
                     </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

<%- include('./layout/footer.ejs') %>
