<%- include('./layout/header.ejs',
{title:'',description:'gdgfgfdgfd',img:'',kw:''})%>

<section class="home-wrapper-1">
    <div class="container-xxl">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>
</section>

<%- include('./layout/footer.ejs') %>
