<%- include('./layout/header.ejs',
{title:'',description:'gdgfgfdgfd',img:'',kw:''})%>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<section class="home-wrapper-1 py-5">
    <div class="container-xxl wrapper-1">
        <div class="row">
            <div class="col-12 col-lg-6 ">
                <h1 class="text-white  mb-4">Welcome to <br class="d-block d-md-none"> Developer's Corner</h1>
                <h2 class="text-white mb-4">Do you want to become a Full Stack Developer?</h2>
                <p class=" text-white pe-0 pe-lg-5">Hi there, I’m Navdeep Dahiya. I have taken all that I have learned working
                    as a Front End Developer and now dedicate 100% of my time to educating other's valuable software
                    development skills and helping them break into the tech industry, continue to level up their skills,
                    and advance their careers.</p>
                <a href="" class="button mt-4">Explore My YouTube Channel</a>
            </div>
            <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                <iframe style="width: 100%;" height="415" src="https://www.youtube.com/embed/hja_5chBohQ?controls=0"
                    title="YouTube video player" frameborder="0" class="rounded-5"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>
</section>
<section class="home-wrapper-2 py-5">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center  mb-3">GUARANTEED SUCCESS</h3>
                <h4 class="text-center">This Platform Can Change Your Life</h4>
                <p class="w-75 course_tarif mx-auto text-center mt-3">Our courses are individually designed by the best professionals
                    in the industry to provide you with high quality content that will empower you with the skills and
                    strategy you need for success.

                </p>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-4">
                <div class="feature-card h-100 p-4">
                    <img src="/images/skills.png" alt="skills">
                    <h3 class="my-3">Skills</h3>
                    <p>Our courses are designed from years of professional experience in the industry.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0">
                <div class="feature-card h-100 p-4">
                    <img src="/images/starategy.png" alt="strategy">
                    <h3 class="my-3">Strategy</h3>
                    <p>Gain access to hundreds of valuable tips and tricks to help jumpstar your career.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0">
                <div class="feature-card h-100 p-4">
                    <img src="/images/success.png" alt="success">
                    <h3 class="my-3">Success</h3>
                    <p>Meet your goals and dreams with a new start from our professional courses.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="popular-videos home-wrapper-2 py-5">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-3" style="color:#00d263!important">Popular Videos</h3>
                <h4 class="text-center text-white">Browse Some Of Our Best Videos</h4>
            </div>
            <div class="col-12 mt-5">
                <div class="videos-wrapper  rounded-3 p-3 p-md-5" style="background-color: #f3f6fd;">
                    <div class="swiper mySwiper pb-5">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide pb-4 rounded-3">
                                <div class="slider-card">
                                    <div class="bg-white">
                                        <img src="/images/a.webp" alt="video">
                                        <div class="p-3">
                                            <h3 class="text-start">Hello</h3>
                                            <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illo
                                                nisi laboriosam commodi obcaecati minima, nihil vel quae nam quod
                                                blanditiis quasi nobis eum vero amet quas libero reprehenderit.
                                                Praesentium.</p>
                                            <a href="" class="button-2 w-100 ">Explore</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide pb-4 rounded-3">
                                <div class="slider-card">
                                    <div class="bg-white">
                                        <img src="/images/a.webp" alt="video">
                                        <div class="p-3">
                                            <h3 class="text-start">Hello</h3>
                                            <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illo
                                                nisi laboriosam commodi obcaecati minima, nihil vel quae nam quod
                                                blanditiis quasi nobis eum vero amet quas libero reprehenderit.
                                                Praesentium.</p>
                                            <a href="" class="button-2 w-100 ">Explore</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide pb-4 rounded-3">
                                <div class="slider-card">
                                    <div class="bg-white">
                                        <img src="/images/a.webp" alt="video">
                                        <div class="p-3">
                                            <h3 class="text-start">Hello</h3>
                                            <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illo
                                                nisi laboriosam commodi obcaecati minima, nihil vel quae nam quod
                                                blanditiis quasi nobis eum vero amet quas libero reprehenderit.
                                                Praesentium.</p>
                                            <a href="" class="button-2 w-100 ">Explore</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide pb-4 rounded-3">
                                <div class="slider-card">
                                    <div class="bg-white">
                                        <img src="/images/a.webp" alt="video">
                                        <div class="p-3">
                                            <h3 class="text-start">Hello</h3>
                                            <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illo
                                                nisi laboriosam commodi obcaecati minima, nihil vel quae nam quod
                                                blanditiis quasi nobis eum vero amet quas libero reprehenderit.
                                                Praesentium.</p>
                                            <a href="" class="button-2 w-100 ">Explore</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="home-wrapper-2 py-5">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center  mb-3">Popular Topics</h3>
                <h4 class="text-center">Browse Our Courses By Category</h4>

                </p>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/html.png" width="90" height="90" alt="skills">
                    <h3 class="my-3 text-center">HTML</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/css-3.png" width="90" height="90" alt="strategy">
                    <h3 class="my-3 text-center">Css 3</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/js.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">JavaScript</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/jquery.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">JQuery</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/bootstrap.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">Bootstap 5</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/tailwind.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">Tailwind Css</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/antd.svg" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">Ant Designs</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/mui.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">Material UI</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/react.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">React Js</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/rn.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">React Native</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/atom.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">Redux</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/node-js.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">Node JS</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/express.png" width="170" height="90" alt="success">
                    <h3 class="my-3 text-center">Express JS</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/database-storage.png" width="90" height="90" alt="success">
                    <h3 class="my-3 text-center">Mongo Db</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/rwd.jpg" width="190" height="90" alt="success">
                    <h3 class="my-3 text-center">Responsive Website Design</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3  mb-3">
                <div class="feature-card d-flex flex-column justify-content-center align-items-center h-100 p-4">
                    <img src="/images/cicd.png" width="190" height="130" alt="success">
                    <h3 class="my-3 text-center">DevOps</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" home-wrapper-2 py-5">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-3" >TESTIMONIALS</h3>
                <h4 class="text-center ">See What People Are Saying</h4>
            </div>
            <div class="col-12 mt-5">
                <div class="videos-wrapper testimonials  rounded-3 p-2 p-md-5" style="background-color: #f3f6fd;">
                    <div class="swiper mySwiper2 pb-5">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide bg-transparent pb-4 rounded-3">
                                <div class="review-card d-flex flex-column" style="width: 90%;">
                                    <div class="review p-4 rounded-1 " style="background-color: #1f4de0;">
                                        <div class="knob" style="background-color: #1f4de0;"></div>
                                        <p class="text-white text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt ipsam distinctio voluptas inventore ipsum provident minus ex quas totam modi, repellendus dolores, eaque repellat nihil! Dolore, cupiditate esse? Magni, neque?</p>
                                    </div>
                                   <div class="reviewer d-flex gap-3 align-items-center justify-content-center justify-sm-content-start">
                                    <div>
                                        <img src="/images/user.png" style="width: 96px !important;height: 96px !important;" alt="">
                                    </div>
                                    <div>
                                        <h5>Navdeep</h5>
                                        <p>Learner</p>
                                    </div>
                                   </div>
                                </div>
                            </div>
                            <div class="swiper-slide bg-transparent pb-4 rounded-3">
                                <div class="review-card  d-flex flex-column" style="width: 90%;">
                                    <div class="review p-4 rounded-1" style="background-color: #1f4de0;">
                                        <div class="knob" style="background-color: #1f4de0;"></div>
                                        <p class="text-white text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt ipsam distinctio voluptas inventore ipsum provident minus ex quas totam modi, repellendus dolores, eaque repellat nihil! Dolore, cupiditate esse? Magni, neque?</p>
                                    </div>
                                   <div class="reviewer d-flex gap-3 align-items-center justify-content-center justify-sm-content-start">
                                    <div>
                                        <img src="/images/user.png" style="width: 96px !important;height: 96px !important;" alt="">
                                    </div>
                                    <div>
                                        <h5>Navdeep</h5>
                                        <p>Learner</p>
                                    </div>
                                   </div>
                                </div>
                            </div>
                            <div class="swiper-slide bg-transparent pb-4 rounded-3">
                                <div class="review-card  d-flex flex-column" style="width: 90%;">
                                    <div class="review p-4 rounded-1" style="background-color: #1f4de0;">
                                        <div class="knob" style="background-color: #1f4de0;"></div>
                                        <p class="text-white text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt ipsam distinctio voluptas inventore ipsum provident minus ex quas totam modi, repellendus dolores, eaque repellat nihil! Dolore, cupiditate esse? Magni, neque?</p>
                                    </div>
                                   <div class="reviewer d-flex gap-3 align-items-center justify-content-center justify-sm-content-start">
                                    <div>
                                        <img src="/images/user.png" style="width: 96px !important;height: 96px !important;" alt="">
                                    </div>
                                    <div>
                                        <h5>Navdeep</h5>
                                        <p>Learner</p>
                                    </div>
                                   </div>
                                </div>
                            </div>
                            <div class="swiper-slide bg-transparent pb-4 rounded-3">
                                <div class="review-card  d-flex flex-column" style="width: 90%;">
                                    <div class="review p-4 rounded-1" style="background-color: #1f4de0;">
                                        <div class="knob" style="background-color: #1f4de0;"></div>
                                        <p class="text-white text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt ipsam distinctio voluptas inventore ipsum provident minus ex quas totam modi, repellendus dolores, eaque repellat nihil! Dolore, cupiditate esse? Magni, neque?</p>
                                    </div>
                                   <div class="reviewer d-flex gap-3 align-items-center">
                                    <div>
                                        <img src="/images/user.png" style="width: 96px !important;height: 96px !important;" alt="">
                                    </div>
                                    <div>
                                        <h5>Navdeep</h5>
                                        <p>Learner</p>
                                    </div>
                                   </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="home-wrapper-2 py-5">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center  mb-3" style="color:#00d263!important">RECENT POSTS</h3>
                <h4 class="text-center">Keep Up with Industry News and Tools</h4>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-6 col-lg-4 my-3">
                <div class="slider-card">
                    <div class="bg-white">
                        <img src="/images/a.webp" class="w-auto img-fluid" alt="video">
                        <div class="p-3">
                            <h3 class="text-start">Hello</h3>
                            <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illo
                                nisi laboriosam commodi obcaecati minima, nihil vel quae nam quod
                                blanditiis quasi nobis eum vero amet quas libero reprehenderit.
                                Praesentium.</p>
                            <a href="" class="button-2 w-100 text-center">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 my-3">
                <div class="slider-card">
                    <div class="bg-white">
                        <img src="/images/a.webp" class="w-auto img-fluid" alt="video">
                        <div class="p-3">
                            <h3 class="text-start">Hello</h3>
                            <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illo
                                nisi laboriosam commodi obcaecati minima, nihil vel quae nam quod
                                blanditiis quasi nobis eum vero amet quas libero reprehenderit.
                                Praesentium.</p>
                            <a href="" class="button-2 w-100 text-center">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 my-3">
                <div class="slider-card">
                    <div class="bg-white">
                        <img src="/images/a.webp" class="w-auto img-fluid" alt="video">
                        <div class="p-3">
                            <h3 class="text-start">Hello</h3>
                            <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illo
                                nisi laboriosam commodi obcaecati minima, nihil vel quae nam quod
                                blanditiis quasi nobis eum vero amet quas libero reprehenderit.
                                Praesentium.</p>
                            <a href="" class="button-2 w-100 text-center">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>





<%- include('./layout/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 50,
        },
      },
    });
    var swiper = new Swiper(".mySwiper2", {
        slidesPerView: 1,
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 50,
        },
      },
    });
</script>