<%- include('./layout/header.ejs',
{title:'Return & Refund Policy',description:'gdgfgfdgfd',img:'',kw:''})%>
<section class="video-wrapper-1 home-wrapper-2  py-5">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
            <h4 class="text-center  mb-3" style="color:#00d263!important">Return & Refund Policy</h4>
            <h5 class="text-center">Last updated April 08, 2023</h5>
            </p>
        </div>

    </div>
      <div class="row  pt-4">
     <div class="col-12">
        
        <p>


            All sales are final and no refund will be issued.
            
            
            
            
            </p>
            <h4>QUESTIONS</h4>
            <p>            If you have any questions concerning our return policy, please contact us at:
            </p>
            <p>+91 8264954234 <br>
                ndyt1676@gmail.com</p>
     </div>
    </div>
</section>
<%- include('./layout/footer.ejs') %>


