<%- include('./layout/header.ejs',
{title:'Shipping & Delivery Policy',description:'gdgfgfdgfd',img:'',kw:''})%>
<main>
    <section class="video-wrapper-1 home-wrapper-2  py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center  mb-3" style="color:#00d263!important">Shipping & Delivery Policy</h4>
                    <h5 class="text-center">
                        <div><span style="color: rgb(127, 127, 127);"><strong><span style="font-size: 15px;"><span
                                            data-custom-class="subtitle">Last updated <bdt class="question">April 08, 2023
                                            </bdt>
                                        </span></span></strong></span></div>
                    </h5>
                    </p>
                </div>
    
            </div>
            <div class="row  pt-4">
             <div class="col-12">
                <p class="text-center">Shipping is not applicable for business.</p>
    
             </div>
    
    
            </div>
        </div>
    </section>
</main>
<%- include('./layout/footer.ejs') %>