<div class="footer">
  <div class="container-xxl">
    <footer class="pt-5">
      <div class="row">
        <div class="col-2">
          <h4>Section</h4>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h4>Section</h4>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h4>Section</h4>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="/privacy-policy" class="nav-link p-0 text-muted">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="/term-and-conditions" class="nav-link p-0 text-muted">Term And Conditions</a></li>
            <li class="nav-item mb-2"><a href="/refund-policy" class="nav-link p-0 text-muted">Refund Policy</a></li>
            <li class="nav-item mb-2"><a href="/shipping-and-delivery-policy" class="nav-link p-0 text-muted">Shipping & Delivery Policy</a></li>
          </ul>
        </div>
  
        <div class="col-4 offset-1">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of whats new and exciting from us.</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="button" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex justify-content-between py-4 mt-4 border-top">
        <p class="">&copy; <span class="date"></span> Developer's Corner. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark bg-white" target="_blank" href="https://www.linkedin.com/in/navdeep-dahiya-719016186/"><img width="24" height="24" src="/images/linkedin.svg" alt=""></a></li>
          <li class="ms-3"><a class="link-dark bg-white" target="_blank" href="https://www.instagram.com/heartblack1676/"><img width="24" height="24" src="/images/instagram.png" alt=""></a></li>
          <li class="ms-3"><a class="link-dark bg-white" target="_blank" href="https://www.youtube.com/channel/UCMpTo3mICR8qJJhby-aqFvA"><img width="24" height="24" src="/images/youtube.svg" alt=""></a></li>
          <li class="ms-3"><a class="link-dark bg-white" target="_blank" href="https://www.buymeacoffee.com/monud0232"><img width="24" height="24" src="/images/buymeacoffe.svg" alt=""></a></li>

        </ul>
      </div>
    </footer>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
  <script>
 var date=new Date().getFullYear()
        $('.date').text(date)
  </script>
</body>
</html>
