<div class="footer">
  <div class="container-fluid">
    <footer class="pt-5">
      <div class="row">
        <div class="col-12 col-md-4">
          <h5 class="text-white mb-2"> <img src="/images/logo.png" width="50" height="50" alt="logo"> &nbsp; Developer's Corner</h5>
         
          <p class="my-4 me-3">
            Developer's corner is an educational website where you will lot of premium content related to web development. It's for beginners, intermediates and for experts also. The All in one solution for developers. Let's learn together.
          </p>

          <ul class="list-unstyled d-flex mt-4 ps-0">
            <li class=""><a class="link-dark bg-white" target="_blank" href="https://www.linkedin.com/in/navdeep-dahiya-719016186/"><img width="24" height="24" src="/images/linkedin.svg" alt=""></a></li>
            <li class="ms-3"><a class="link-dark bg-white" target="_blank" href="https://www.instagram.com/heartblack1676/"><img width="24" height="24" src="/images/instagram.png" alt=""></a></li>
            <li class="ms-3"><a class="link-dark bg-white" target="_blank" href="https://www.youtube.com/channel/UCMpTo3mICR8qJJhby-aqFvA"><img width="24" height="24" src="/images/youtube.svg" alt=""></a></li>
            <li class="ms-3"><a class="link-dark bg-white" target="_blank" href="https://www.buymeacoffee.com/monud0232"><img width="24" height="24" src="/images/buymeacoffe.svg" alt=""></a></li>
  
          </ul>
        </div>
  
      
  
        <div class="col-12 col-md-2">
          <h5 class="text-white mt-4 mt-md-0 mb-3 mb-md-5">Important Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/privacy-policy" class="nav-link p-0 text-muted">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="/term-and-conditions" class="nav-link p-0 text-muted">Term And Conditions</a></li>
            <li class="nav-item mb-2"><a href="/refund-policy" class="nav-link p-0 text-muted">Refund Policy</a></li>
            <li class="nav-item mb-2"><a href="/shipping-and-delivery-policy" class="nav-link p-0 text-muted">Shipping & Delivery Policy</a></li>
          </ul>
        </div>
  
        <div class="col-12 col-md-4 ms-0 ms-md-4 mt-4 mt-md-0">
          <form class=""id='newsletter'>
            <h5 class="text-white">Subscribe to our newsletter</h5>
            <p class="mt-3 mt-md-5">Monthly digest of whats new and exciting from us.</p>
            <div class="d-flex w-100 gap-2">
             <form action="" id="newsletter">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" name="email" type="email" class="form-control" placeholder="Email address">
              <button class="button" type="submit">Subscribe</button>
             </form>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex justify-content-center py-4 mt-4 border-top">
        <p class="text-center">&copy; <span class="date"></span> Developer's Corner. All rights reserved.</p>
      
      </div>
    </footer>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
  <script src="/js/jquery.toast.min.js"></script>
  <script>
 var date=new Date().getFullYear()
 $('.date').text(date)



 $(document).ready(function(){
  $("form#newsletter").submit(function(e){
    e.preventDefault()
    const formData = new FormData(e.target);
    
    $.ajax({
  method: "POST",
  url: "http://localhost:4000/newsletter/",
  data: { email: formData.get("email") },
  success: function (data) {
    $.toast({
    heading: 'Success',
    text: `You just subscribed to Developer's Corner`,
    showHideTransition: 'slide',
    icon: 'success', stack: 2
})
          },
          error: function (xhr, exception) {
            $.toast({
    heading: 'Warning',
    text: 'You have already subscribed.',
    showHideTransition: 'slide',
    icon: 'error', stack: 2
})
}
  });})
});
  </script>
</body>
</html>
