<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color: #212259!important;">
    <div class="container-fluid d-flex justify-content-between">
      <div style="width: 100%;"></div>
      <a class="navbar-brand" href="">
        <img src="https://w1.pngwing.com/pngs/743/500/png-transparent-circle-silhouette-logo-user-user-profile-green-facial-expression-nose-cartoon.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
      </a>
    </div>
  </nav>