
<div class="flex-shrink-0 " style="width: 280px; background-color: #212259 !important; height: 100vh;">
  <a href="/admin/dashboard" class="p-3 d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <span class="fs-4 fw-normal text-white"><img src="/images/logo.png" width="30" class="mb-2" height="30" alt="logo"> Developer's Corner </span>
  </a>
  <ul class="list-unstyled  listing">
    <li class="mb-1 ps-1">
      <a class="btn btn-toggle d-inline-flex align-items-center text-white rounded border-0 collapsed">
        Dashboard
      </a>
    
    </li>
    <li class="mb-1 ps-1">
      <button class="btn btn-toggle  d-inline-flex align-items-center text-white rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#docs-collapse" aria-expanded="false">
        Documentations
      </button>
      <div class="collapse" id="docs-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">List Documentations</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">Add Documentations</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1 ps-1">
      <button class="btn btn-toggle  d-inline-flex align-items-center text-white rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#note-collapse" aria-expanded="false">
        Notes
      </button>
      <div class="collapse" id="note-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">List Notes</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">Add Notes</a></li>
        </ul>
      </div>
    </li>

   
    <li class="mb-1 ps-1">
      <button class="btn btn-toggle d-inline-flex align-items-center text-white rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#projects-collapse" aria-expanded="false">
        Projects
      </button>
      <div class="collapse" id="projects-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">List Projects</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">Add Projects</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1 ps-1">
      <button class="btn btn-toggle  d-inline-flex align-items-center text-white rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#problems-collapse" aria-expanded="false">
        Problems
      </button>
      <div class="collapse" id="problems-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">List Problems</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">Add Problems</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1 ps-1">
      <button class="btn btn-toggle  d-inline-flex align-items-center text-white rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#payments-collapse" aria-expanded="false">
        Payments
      </button>
      <div class="collapse" id="payments-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">List Payments</a></li>

        </ul>
      </div>
    </li>
 
 
    <li class="mb-1 ps-1">
      <button class="btn btn-toggle  d-inline-flex align-items-center text-white rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#tuts-collapse" aria-expanded="false">
        Tutorials
      </button>
      <div class="collapse" id="tuts-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">List Tutorials Category</a></li>
          <li><a href="/admin/add-tut-category" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">Add Tutorials Category</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">List Tutorials</a></li>
          <li><a href="/admin/add-tutorial" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">Add Tutorials</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1 ps-1">
      <button class="btn btn-toggle d-inline-flex align-items-center text-white rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#videos-collapse" aria-expanded="false">
        Videos
      </button>
      <div class="collapse" id="videos-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">List Videos</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-white text-decoration-none rounded">Add Videos</a></li>
        </ul>
      </div>
    </li>
  
    <li class="border-top my-3"></li>
    <li class="mb-1 ps-1">
      <button class="btn btn-toggle d-inline-flex align-items-center text-white rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark d-inline-flex text-white text-decoration-none rounded">New...</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-white text-decoration-none rounded">Profile</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-white text-decoration-none rounded">Settings</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-white text-decoration-none rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>

